<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<!-- 加载 jdbc.properties -->
	<context:property-placeholder location="classpath:jdbc.properties" /> 
		
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"> 
		<!-- 目标数据库的 URL 地址 -->
		<property name="url" value="${jdbc.url}" /> 
		<!-- 数据库驱动全类名 -->
		<property name="driverClassName" value="${jdbc.driver}" />
		<!-- 连接数据库的用户名 -->
		<property name="username" value="${jdbc.user}" /> 
		<!-- 连接数据库的密码 -->
		<property name="password" value="${jdbc.password}" /> 
	</bean>
	
	<!-- 配置sqlSessionFactoryBean整合MyBatis -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml"/>	
		<property name="mapperLocations" value="classpath:mybatis/mapper/*Mapper.xml"/>
		<property name="dataSource" ref="dataSource"/>
		<!-- 加入插件 -->
		<property name="plugins">
			<array>
				<!-- 加入PageHelper -->
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<props>
							<!-- 配置数据库方言，指定数据库类型 -->
							<prop key="dialect">mysql</prop>
							<!-- 配置页码的合理化修正,以防出现不合理的页码要求 -->
							<prop key="reasonable">true</prop>
						</props>
					</property>
				</bean>
			</array>
		</property>
	</bean>
	
	<!-- 配置Mapper接口所在的包 -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.atguigu.crowd.mapper"/>
	</bean>

</beans>
